<!-- Page Wrapper -->
<div id="wrapper" class="wrapper">
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Portfolios</h1>
          <button
            (click)="onAddPortfolio()"
            class="d-none d-sm-inline-block btn btn-primary shadow-sm"
            type="button"
          >
            <i class="fas fa-plus fa-sm text-white-50"></i> New
          </button>
        </div>

        <!-- Content Row -->
        <form [formGroup]="form">
          <div *ngFor="let portfolio of portfolioValues" class="row">
            <app-portfolio
              class="col"
              [portfolio]="portfolios[portfolio.key]"
              (portfolioFormReady)="portfolioFormInitialized(portfolio.key, $event)"
              (balance)="onBalance($event)"
              (edit)="onEdit($event)"
              (delete)="onDelete($event)"
              (confirmDelete)="onConfirmDelete()"
            ></app-portfolio>
          </div>
        </form>
        <ng-template>
          <div class="row">loading...</div>
        </ng-template>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <app-footer></app-footer>
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
